*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: calc(10 / 16 * 100%);
}

body {
    box-sizing: border-box;
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #34495e;
    color: #fff;
    overflow: hidden;
}

h1 {
    margin: 2rem 0;
}

.game-container {
    padding: 2rem 3rem;
    position: relative;
    margin: auto;
    height: 35rem;
    width: 45rem;
}

.figure-container {
    fill: transparent;
    stroke: #fff;
    stroke-width: .4rem;
    stroke-linecap: round;
}

.figure-part {
    display: none;
}

.wrong-letters-container {
    position: absolute;
    top: 3.5rem;
    right: 2rem;
    display: flex;
    flex-direction: column;
    text-align: right;
}

.wrong-letters-container p {
    margin: 0 0 .5rem;
}

.wrong-letters-container span {
    font-size: 2.4rem;
}

.word {
    display: flex;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
}

.letter {
    border-bottom: .3rem solid #2980b9;
    display: inline-flex;
    font-size: 3rem;
    align-items: center;
    justify-content: center;
    margin: 0 .3rem;
    height: 5rem;
    width: 2rem;
}

.popup-container {
    background: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /*display: flex;*/
    display: none;
    align-items: center;
    justify-content: center;
}

.popup {
    background: #2980b9;
    border-radius: .5rem;
    box-shadow: 0 1.5rem 1rem .3rem rgba(0, 0, 0, .1);
    padding: 2rem;
    text-align: center;
}

.popup button {
    cursor: pointer;
    background: #fff;
    color: #2980b9;
    border: 0;
    margin-top: 2rem;
    padding: 1.2rem 2rem;
    font-size: 1.6rem;
}

.popup button:active {
    transform: scale(0.98);
}

.popup button:focus {
    outline: none;
}

.notification-container {
    background: rgba(0, 0, 0, .3);
    border-radius: 1rem 1rem 0 0;
    padding: 1.5rem 2rem;
    position: absolute;
    bottom: -5rem;
    transition: transform .3s ease-in-out;
}

.notification-container.show {
    transform: translateY(-5rem);
}
